Flask==1.0.2
Flask-Session==0.3.1
Flask-SocketIO==3.0.2
psycopg2==2.7.5
pycparser==2.19
PyInstaller==3.3.1
pylint==1.9.2
pymediainfo==2.3.0
python-engineio==2.3.2
python-socketio==2.0.0
requests==2.20.0
SQLAlchemy==1.2.10
urllib3==1.24
Werkzeug==0.14.1
gunicorn
gevent
gevent-websocket