{% extends "template.html" %}
{% block head %} 
  <title>Welcome Page</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/welcome.css') }}">
{% endblock %}


{% block body %} 
      <div class="container-fluid" id="welcome-page">
        <div class="row">
          <div class="col-12">
            <h1>@Blah Blah</h1>
          </div>
        </div>
        <div class="row" id="welcome-form-row">
          <div class="col-5"></div>
            <div class="col-2 welcome-form">

              {% if first_visit == False %}
         
                <div class="form-group">

                  <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="{{message}}">
                </div>
   
                <a href="{{  url_for('channel_selection', chan=last_visited) }}" class="btn btn-dark mb-2" role="button">Continue</a>
                <a href="{{  url_for('logout') }}" class="btn btn-warning mb-2" role="button">That's not me!</a>
              
              {% else %}

              <form action="{{ url_for('welcome') }}" method="post">
                <div class="form-group">
                  <input id="name-box" name="name" type="text" placeholder="Tell us your name..." autofocus class="form-control" aria-describedby="emailHelp">
                </div>
                <button class="btn btn-dark">Join Us...</button>
              </form>

              {% endif %}

            </div>
          <div class="col-5"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12"></div>
        </div>
      </div>
{% endblock %}

