/*--- All ---*/

            body {
                  list-style: none;
                  font-family: courier new;
                  overflow-y: hidden;
            }

            :root {
                  --sidebar-hover-color:#485160;
                  --palest-blue:#F7F9FF;
                  --darkest-blue:#35383D;
                  --even-darker-blue:#171a1e;
            }

            
            a, a:hover { 
                  text-decoration: none;
                  color: inherit;
               }

            .btn {
                  border-radius: 0px;
            }

            h2 {
                  padding-top: 10px;
            }

            .invisible {
                  display: none;
            }

/* ----------- */

/*--- Row 1 ---*/
            #row-1 {
                  /* height: 6vh;  */
                  /* height: 4em; */
            }
                  #hamburg-1 {
                        padding: 4px;
                        color:white;
                        border: 2px solid white;
                        background-color: black
                  }

                  #hamburg-1:hover {
                        background-color: white;
                        color:black;
                        border-color: black; 
                  }

                  h2 {
                        text-align: center;
                  }

      /* Left */
                  #chan-name-div {
                        padding: 0px;
                  }

                  .chan-form{
                        background-color:var(--even-darker-blue);
                  } 

                  .chan-form:hover::placeholder, .chan-form:focus::placeholder {
                        color: var(--darkest-blue);
                  }

                  .chan-form::placeholder {
                        color: var(--palest-blue);
                  }

                  .channel-links:hover   {
                        background-color: var(--sidebar-hover-color);
                  }

                  .chan-form:hover {
                        background-color: var(--palest-blue);
                        color: var(--darkest-blue);
                  }

      /* Middle */
                  #chan-title {
                        padding-left: 15px;
                        text-transform: capitalize;
                  }

      /* Right */

            #tempId {
                  background-color: red;
            }
                 
/*--- Row 2 ---*/
                        
      /* Left */

                  .chan-nav-btn, .nav-arrow {
                        width: 20%;
                  }

                #chan-selection {
                        background-color:#35383D;
                        margin-bottom: -100px; 

                                    
                  }

                .new-chan-name {
                        border-radius: 0px;
                        height: 110%;
                        box-shadow:outset 5px 5px 5px 5px slategrey;
                  }

                  #new_convo {
                        height: 63px;
                  }

                  #new_convo, #new-convo-div {
                              background-color: var(--darkest-blue);
                              color:var(--palest-blue);                             
                  }

                  #new_convo:focus::placeholder { 
                        color: var(--darkest-blue);
                  }

                        #new_convo:hover {
                        color: var(--darkest-blue);
                        background-color: var(--palest-blue);
                  }

                  #new-convo-div:hover {
                        color: var(--darkest-blue);
                        background-color: var(--palest-blue);
                  }

                   #new-convo-div:focus::placeholder {
                        color: var(--darkest-blue);
                  }

                  #new_convo:hover::placeholder {
                        color:var(--darkest-blue);
                  }

                  #new_convo::placeholder {
                        color: var(--palest-blue);
                  }

                  #new-convo-div:focus, #new_convo:focus {
                        background-color: var(--palest-blue);
                  }


                  #new-convo-div {
                        margin-right: -15px;
                        margin-left: -15px;
                  }


                  .col > .form-control:focus {
                              box-shadow: none;
                        }

                  .channel-links {
                        color:#E5EBFF;
                        padding: 5px;
                        padding-left: 15px;
                      text-decoration: none !important;
                      margin-right: -20px;
                        margin-left: -13px;

                        text-transform: capitalize;
                  }

                 
       /* Middle */
                  #msg-window, #msg-window-home {
                        padding: 20px;
                      background-color: #e8ecf9;
                     background-color: white;
                      color:#030B30; 
                      box-shadow:inset 0px 3px 5px 1px slategrey;
                      overflow-y: scroll;
                  }



                  #msg-room {
                        list-style: none;
                        margin-left: 30px;
                        margin-right: 30px;
                  }

                  .msgs {
                        padding-bottom: 1.2em;
                  }

      /* Right */
                  .names {
                        color:#01AD52;
                  }

                  .user-channel {
                        color:red;
                  }

                  #online {
                        background-color: #F7F9FF;
                        #e8ecf9
                        #F7F9FF
                        color:slategrey; 
                        border-top: none;
                        margin-bottom: -90px;
                  }

                  #online-title{
                              /* padding: 15px; */
                              text-align: center;

                  }

                  .online-names {
                              padding: 7px;
                              
                  }

                  .chan-nav {
                        padding: 0px;
                        margin: -14.5px;
                  }

                  .chan-nav-text {
                        padding: 30%;
                  }

                  #online-div {
                        background-color: white;
                       /*  display: none; */
                  }

/*--- Row 3 ---*/
            #row-3 {
                  /* height: 9vh;  */
                  height: 6em;
                  background-color: white;
                  margin-left: 0vw;
                  padding-left: 2%;
                  padding-right: 3%;
            }
                  #bottom-left {
                        background-color: white;
                        margin-top: 100px;
                  }

                   #msg-div {
                        padding: 0px;
                        padding-top: 10px;
                        padding-right: 14px;         
                  }

                  #msg {
                        resize: none;
                  }

/* row-4 */
                  #row-4 {
                        min-height: 6em;
                  }


/* Responsive */
 


#chan-name-div, #chan-selection, #bottom-left {
            display: none;
      }


 #online-div,  #online {
            display: none;
      }

#home-title-div-mob {
            height: 3em;
      }

#home-title-div-big {
            display: none;
      }

.color-change {
      background-color:var(--even-darker-blue);
}


/* sidebar classes */
      .sidebar {
            display: block !important;
            position: fixed;
            z-index: 10;
            top: 1;
            left: 0;

/*             animation-duration: 0.3s;
           animation-name: l_slidein;
           animation-fill-mode: forwards;  */           
      }

      .r_sidebar {
            display: block !important;
            position: fixed;
            z-index: 1;
            top: 30;
            right: 0; 

            animation-duration: 0.3s;
            animation-name: r_slidein;
            animation-fill-mode: forwards;      
      }


      .name-height {
            height: 7%;
            
      }

      .select-height {
            height: 100%;
      }

      .toggle {
            
            color: black;
            text-align: center;
            position: relative;
            z-index: 100;
      }

      .fa-bars {
            
            padding-top: 10px;
            font-size: 2em;
      }

      .alt_ham {
            background-color: var(--even-darker-blue);
            color:white;
            z-index: 101;
      }

      .top {
            z-index: 99;
      }


      .shuffle-right {
            padding-left:65px;
            

      }

      .form-width {
            left:16.6vw;
            width: 33.3vw;
      }  




@media (max-width: 768px) {

      #msg-window, #msg-window-home {
            height: 40em;
      }

      .form-width {
            left:16.6vw;
            width: 66.6vw;
      } 

       #chan-name {
            
            margin-left: 25%;
            width: 100%;
      } 
      /* Animations - responsive */

      .sidebar {
            animation-duration: 0.3s;
            animation-name: l_slidein;
            animation-fill-mode: forwards;            
      }

      /* slideout */
      .l_slideOut {
            animation-duration: 0.3s;
            animation-name: l_slideOut;
            animation-fill-mode: forwards;   
      }

      .r_slideOut {
            animation-duration: 0.3s;
            animation-name: r_slideOut; 
            animation-fill-mode: forwards;  
      }

      @keyframes l_slideOut {
        from {
          left: 0%; 
        }

        to {
          left: -100%;
        }
      }
          
      @keyframes r_slideOut {
        from {
          right: 0%; 
        }

        to {
          right: -100%;
        }
      }  

      /* slidein */
      @keyframes l_slidein {
        from {
          left: -100%; 
        }

        to {
          left: 0%;
        }
      }

      @keyframes r_slidein {
        from {
          right: -100%; 
        }

        to {
          right: 0%;
        }
      }      

          
}

@media (min-width:769px ) {
      #home-title-div-mob {
            display: none;
            height: 3em;
      }

      #home-title-div-big {
            display: block;
      }

}

@media only screen and (max-width: 991px) and (min-width: 769px) {

      #chan-name {
                
                  margin-left: 50%;
                  margin-right: 20%;

            }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

      #chan-name {
                
                  margin-left: 66%;
                  width: 101%;
            }
}



@media (min-width:992px ) {

      #r-sidebar-toggle {
            display: none;
      }

      #hamburg-2 {
            display: none;
      }
      
      #online-div,  #online {
            display: block;
      } 

      #row-3 {
            margin-right: 16.7vw;
      }

      #msg { 
            margin-right: 0vw;
      }

      #msg-div {
            width: 75vw;
      }

      .form-width {
            left:16.6vw;
            width: 25vw;
      }


     /*  #chan-name-div, #chan-selection, #bottom-left {
           make into sidebar thing
           display: block;
           position: fixed;
           z-index: 1;
           top: 0;
           left: 0;
     }  */



}


@media (max-width: 990px) and (min-width: 769px) {
      .r_slideOut {
            animation-duration: 0.3s;
            animation-name: r_slideOut; 
            animation-fill-mode: forwards;  
      }

      @keyframes r_slideOut {
        from {
          right: 0%; 
        }

        to {
          right: -50%;
        }
      }  
}


@media (max-width: 1199px) and (min-width: 769px) {

      /* Animations */

      .sidebar {
            animation-duration: 0.3s;
            animation-name: l_slidein;
            animation-fill-mode: forwards;            
      }

      /* slideout */
      .l_slideOut {
            animation-duration: 0.3s;
            animation-name: l_slideOut;
            animation-fill-mode: forwards;   
      }

      @keyframes l_slideOut {
        from {
          left: 0%; 
        }

        to {
          left: -50%;
        }
      }

      .r_slideOut {
            animation-duration: 0.3s;
            animation-name: r_slideOut; 
            animation-fill-mode: forwards;  
      }

      
      /* slidein */
      @keyframes l_slidein {
        from {
          left: -50%; 
        }

        to {
          left: 0%;
        }
      }

      @keyframes r_slidein {
        from {
          right: -50%; 
        }

        to {
          right: 0%;
        }
      }

      /*  */
      }

@media (min-width:1200px ) {

      .new-chan-name {
            height: 100%;
      }
      /*Hides div to be revealed by button click */
      #chan-name-div, #chan-selection, #bottom-left {
            display: block;
      }

      #row-3 {
           /*  background-color: red; */
            margin-left: 16.7vw; 
            margin-right: 16.7vw;
      }

      #msg {
            /* margin-left: -17.5vw;
            margin-right:-11.7vw; */
            margin-right: 0vw;
      } 
      
      #msg-div {
            margin-left: -12vw;
            width: 62vw;
      }

      #hamburg-1 {
            display: none;
      }

      #l-sidebar-toggle {
            display: none;
      }
}






