:root {
  --sidebar-hover-color:#485160;
  --palest-blue:#F7F9FF;
  --darkest-blue:#35383D;
  --even-darker-blue:#171a1e;
}

body {
   background-color: var(--palest-blue); */
      overflow-y: scroll;  
      overflow-x: hidden;
  }

h1 {
    text-align: center;
    padding-top: 2em;
    padding-right: 1em;
    font-size: 6em;
}

.col-4{
    height: 10vh;
}

.col-12 {
    height:45vh;
}


